#rmp-body{
	margin:0;
	display: inline-block;
}

#rmp-form{
	padding-bottom: 2px;
	display: inline-block;
}


#rmp-search{
	padding-top: 2px;
	display: inline-block;
}


#rmp-menu{
	width: 300px;
	background-color: #f8f8f8;
	margin:0;
}

#rmp-menu .title{
	text-align: center;
	font-size: 20px;
}

#rmp-popup{
	background-color: #f8f8f8;
	position: absolute;
	z-index: 900000000000;
	border:2px;
	border-style: dashed;
	border-color:orange;
}

#rmp-notification{
	text-align: center;
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 40px;
}

#rmp-prof-name{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #42A5F5;
	font-weight: 400;
	color: white;
}

#rmp-popup .listing-cat{
	display:none;
}
#rmp-popup li{
	list-style-type: none;
	padding-top: 8px;
}
#rmp-popup .rmp-score-div0{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	background-color: #BA68C8;
}

.rmp-score-div1{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	background-color: #3F51B5;
}

.rmp-score-div2{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	background-color: #607D8B;
}

.rmp-score-div3{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	display: inline-block;
	background-color: #616161;
}

.rmp-score-div4{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	display: inline-block;
	background-color: #E0E0E0;
}

#rmp-popup .rmp-num-score{
	float:right;
	font-style:italic;
	font-weight: bold;
	color: black;
}

.rmp-num-score-low{
	color: red;
	float:right;
	font-weight: 510;
}

.rmp-num-score-mid{
	float:right;
	color: yellow;
	font-weight: 510;

}

.rmp-num-score-high{
	float:right;
	color: #00E676;
	font-weight: 510;
}

.rmp-navigation :nth-child(1){
	float:left;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.rmp-navigation :nth-child(2){
	float:right;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.rmp-navigation :nth-child(3){
	margin:auto;
	width:100px;
	text-align: center;
	padding-top: 10px;
}


#rmp-popup .listing-name{
	display:block;
}

#rmp-popup .listing-name .main{
	margin-left: 5px;
	width: 40%;
	display: inline-block;
	vertical-align: top;
}
#rmp-popup .listing-name .sub{
	width:55%;
	margin-right: 5px;
	display: inline-block;
	text-align: left;
}
#rmp-popup a{
	display: block;
	color: blue;
}
#rmp-popup a:hover{
	color: #b2cf36;
}

#rmp-popup .tag-box-choosetags {
    display: block;
    float: left;
    padding: 5px 7px;
    width: auto;
    background: #e5e5dd;
    color: #797979;
    font-weight: 500;
    font-family: "Source Sans Pro";
    text-decoration: none;
    font-size: 12px;
    margin-right: 6px;
    margin-bottom: 6px;
}

.rmp-score-label{
	font-size: 14px;
	font-family: "Source Sans Pro";
	font-weight: 400;
	color: white;
}
